## MSc Data Analytics - Capstone Project

#### Predictive Insights in the Coffee Market: Time Series Models for forecasting coffee prices

Student id: 2020274 Clarissa Cardoso

Introduction
This capstone project aims to apply different time series models to forecast the prices of coffee in the commodity stock market. 
Central to this analysis is the ICO Composite Indicator Price (I-CIP), which is a critical benchmark reflecting global coffee market trends. 
Accurate forecasting of the I-CIP is vital for stakeholders throughout the coffee industry, from producers to investors. 


The data utilized in this project is sourced from the International Coffee Organization's (ICO) Public Market Information, which provides the I-CIP values free of charge.

For the early stages of this experimentation, 1 year worth of data was available to collect, from 01Feb23 to 29Feb24.

Objectives:
Model Building: Develop and evaluate various time series forecasting models to predict future values of the I-CIP.


        Model Development: build and train various time series forecasting models, including traditional statistical models (e.g., ARIMA/Sarima) and machine learning algorithms (e.g., LSTM neural networks).
        Model Evaluation: evaluate the performance of each model using appropriate metrics, such as mean absolute error (MAE) and root mean squared error (RMSE), to determine their predictive accuracy.
        Forecasting: generate forecasts for future I-CIP values using the best-performing model(s) and visualize the results to facilitate interpretation and decision-making.
- 1 day
- 5 days = 1 week
- 21 days = 1 month
(- 63 days = 3 months (1 quarter))

In [1]:
import keras
import tensorflow as tf

print("Keras version:", keras.__version__)
print("TensorFlow version:", tf.__version__)


## cheking if keras/tensorflow are correclty installed

Keras version: 2.10.0
TensorFlow version: 2.10.0

In [2]:
#importing libraries
import warnings
warnings.filterwarnings("ignore")

import pandas as pd #dataframes 
import numpy as np #linear algebra
import seaborn as sns #visualization
sns.set(color_codes=True)


import plotly.express as px
import plotly.graph_objects as go


import scipy.stats as stats #statistical resources

import matplotlib.pyplot as plt #visualisation 
%matplotlib inline 


from matplotlib import colors
from matplotlib.ticker import PercentFormatter
import matplotlib as mpl

from sklearn.model_selection import train_test_split # importing function to split the data training and test.
from sklearn.preprocessing import MinMaxScaler # Import the MinMaxScaler module from sklearn.preprocessing library
from sklearn.linear_model import LinearRegression # importing to performe linear regression. 
from sklearn.metrics import make_scorer, r2_score # Importing from Metrics module
from sklearn.preprocessing import StandardScaler # standardize the data
from sklearn import metrics # Metrics module from scikit-learn
from sklearn.model_selection import GridSearchCV # importing for hyperparameter tunning
from sklearn.metrics import mean_squared_error # importing mse
from scipy.stats import shapiro

from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential #last update in python causing dead kernel wehn importing keras functions?
from keras.layers import Dense, LSTM, Dropout, GRU, Bidirectional
from keras.optimizers import SGD
import math
from math import sqrt
from sklearn.metrics import mean_squared_error,mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error
from scipy.interpolate import interp1d

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import LinearRegression

import statsmodels.api as sm
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.stattools import acf, pacf
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

# 1. Load data

For the early stages of this experimentation, 1 year worth of data was available to collect, from 01Feb23 to 29Feb24.

This section will review the original dataset compiled with data from feb 23 to feb 24.




A few thingsobserved when importing the raw files: 

- Column mismatch: Assuming all files have the same column names and order. This can lead to errors when merging DataFrames with different structures.



Since then, ICO has released additional months that will be included in the dataframe, considering the timeframe from march to september 2024 as a way to feed more data to the models.

In [3]:
# Read the CSV file 
icip_data = pd.read_csv("icip_df.csv")

# View the first 5 rows
icip_data.head()

,date,I-CIP,colombian_milds,other_milds,brazilian_nat,robustas,year,month
0,2023-02-01,171.43,235.92,223.22,191.65,102.31,2023,2
1,2023-02-02,172.50,237.34,226.26,192.86,102.00,2023,2
2,2023-02-03,169.47,232.24,221.86,188.61,101.52,2023,2
3,2023-02-06,171.29,235.17,224.80,190.77,102.02,2023,2
4,2023-02-07,172.14,235.65,226.72,191.92,102.10,2023,2

### Checking  additional data from March/24 to September/24 before combining to main dataframe

In [4]:
import os
# List all the files in the folder
os.listdir("icip_24")

['I-CIP_September_2024.csv',
 'I-CIP_August_2024.csv',
 'I-CIP_April_2024.csv',
 'I-CIP_March_2024.csv',
 'I-CIP_May_2024.csv',
 'I-CIP_July_2024.csv',
 'I-CIP_June_2024.csv']

In [5]:
#create for loop to import csv files from the folder with less comands.

# create an empty list to store dfs
dataframes = []

# path to folder where csv files are (in this case same directory)
folder_path = "icip_24"


# to import CSV starting from the third row, skipping the first two
def import_csv(filepath):
    return pd.read_csv(filepath, skiprows=2)

# Iterate through files in the folder
for file in os.listdir(folder_path):
    if file.endswith(".csv"):  # Only consider CSV files
        file_path = os.path.join(folder_path, file)  # Construct the full file path
        dataframes.append(import_csv(file_path))  # Read CSV and append to list

In [6]:
#check the lenght of the directory, how many files exist in the new folder
len(dataframes)

7

Chcking the heading of the files to undertand how features are allocated in this first stage before combining the new 7 months to main dataframe

The same issue appears with the heading names. So this time around it was decided to ignore the first 2 rows to avoid the unnamed header and only collect the data 

Unnamed: 0	Unnamed: 1	Colombian	Unnamed: 3	Brazilian	Unnamed: 5
0	NaN	I-CIP	NaN	Other Milds	NaN	Robusta

In [7]:
#check if order of files correspond with the directory list, testing if loop is working
dataframes[0].head()

  Unnamed: 0  Unnamed: 1   Milds  Unnamed: 3  Naturals  Unnamed: 5
0     02-Sep      241.71  265.38      260.21    239.79      224.69
1     03-Sep      241.20  264.48      259.50    239.13      224.54
2     04-Sep      245.35  266.69      260.63    241.03      233.05
3     05-Sep      249.73  269.06      268.61    247.93      233.82
4     06-Sep      243.88  262.39      261.53    241.58      229.40

In [8]:
print(dataframes)
#list of all dataframes

[   Unnamed: 0  Unnamed: 1   Milds  Unnamed: 3  Naturals  Unnamed: 5
0      02-Sep      241.71  265.38      260.21    239.79      224.69
1      03-Sep      241.20  264.48      259.50    239.13      224.54
2      04-Sep      245.35  266.69      260.63    241.03      233.05
3      05-Sep      249.73  269.06      268.61    247.93      233.82
4      06-Sep      243.88  262.39      261.53    241.58      229.40
5      09-Sep      247.47  269.31      268.28    246.38      228.99
6      10-Sep      251.18  272.41      271.39    250.57      232.83
7      11-Sep      252.78  272.00      270.98    250.20      237.98
8      12-Sep      255.22  273.63      273.58    252.47      240.75
9      13-Sep      265.67  283.72      283.53    262.78      251.73
10     16-Sep      264.57  282.28      282.63    261.62      250.68
11     17-Sep      269.45  288.40      288.74    267.76      253.35
12     18-Sep      269.47  288.21      288.56    267.49      253.80
13     19-Sep      265.09  283.29      284.33    262.25      250.24
14     20-Sep      255.28  273.05      274.57    252.01      240.91
15     23-Sep      266.78  285.87      287.35    264.47      250.41
16     24-Sep      269.83  289.78      291.26    267.94      252.30
17     25-Sep      270.09  291.55      293.03    270.32      249.36
18     26-Sep      272.70  296.96      296.29    274.52      249.30
19     27-Sep      268.97  292.23      291.25    269.86      247.45
20     30-Sep      270.37  294.02      292.80    271.99      248.00,    Unnamed: 0  Unnamed: 1   Milds  Unnamed: 3  Naturals  Unnamed: 5
0      01-Aug      224.56  249.67      248.22    229.54      198.11
1      02-Aug      226.88  252.89      251.73    232.67      198.74
2      05-Aug      222.58  247.73      246.57    227.59      195.88
3      06-Aug      230.14  255.85      254.69    235.69      202.47
4      07-Aug      237.36  264.32      263.16    244.14      207.48
5      08-Aug      235.25  261.65      260.50    241.74      206.13
6      09-Aug      229.28  253.40      252.18    235.22      202.76
7      12-Aug      236.51  261.09      259.54    242.05      210.12
8      13-Aug      228.07  251.97      250.41    233.07      202.75
9      14-Aug      233.61  257.76      256.20    238.89      207.83
10     15-Aug      237.19  261.71      260.72    241.69      211.43
11     16-Aug      242.31  267.81      266.76    247.85      214.78
12     19-Aug      243.18  268.84      267.97    248.04      216.00
13     20-Aug      247.83  272.81      272.04    251.86      221.90
14     21-Aug      248.38  273.65      272.88    252.65      221.99
15     22-Aug      243.49  267.41      266.75    246.32      219.52
16     23-Aug      244.37  269.63      263.89    243.88      224.99
17     26-Aug      245.77  271.59      265.68    245.35      225.92
18     27-Aug      251.53  276.89      271.69    251.17      231.63
19     28-Aug      254.12  278.32      273.33    252.88      235.91
20     29-Aug      247.43  269.53      264.59    244.13      232.88
21     30-Aug      246.32  268.25      262.11    241.73      233.74,    Unnamed: 0  Unnamed: 1   Milds  Unnamed: 3  Naturals  Unnamed: 5
0      01-Apr      193.39  218.37      216.09    191.97      173.05
1      02-Apr      199.78  224.47      222.19    198.45      179.62
2      03-Apr      205.68  230.35      228.08    204.48      185.42
3      04-Apr      204.71  228.67      226.67    206.70      182.19
4      05-Apr      206.23  228.75      229.52    214.33      178.18
5      08-Apr      205.50  227.06      227.83    212.59      179.20
6      09-Apr      207.01  229.74      230.50    215.35      178.54
7      10-Apr      208.27  230.55      231.32    216.21      180.55
8      11-Apr      213.47  239.55      237.94    218.49      186.17
9      12-Apr      218.81  246.89      243.75    221.96      192.20
10     15-Apr      223.13  252.02      248.87    226.35      195.71
11     16-Apr      225.08  254.02      250.86    228.60      197.37
12     17-Apr      235.50  265.26      262.09    239.47      206.64
13     18-Apr      228.06  255.37      253.45    231.19      201.46
14     19-Apr      228.48  255.42      254.23    230.86      202.43
15     22-Apr      224.83  249.99      246.91    224.49      203.87
16     23-Apr      221.18  244.45      241.39    219.12      203.40
17     24-Apr      226.26  248.65      245.58    223.29      210.09
18     25-Apr      228.89  251.34      248.22    226.17      212.47
19     26-Apr      223.73  247.68      244.18    221.79      205.48
20     29-Apr      225.55  250.45      246.37    225.13      205.46
21     30-Apr      218.10  240.52      238.01    215.91      200.90,    Unnamed: 0  Unnamed: 1   Milds  Unnamed: 3  Naturals  Unnamed: 5
0      01-Mar      181.39  206.30      204.99    183.44      157.54
1      04-Mar      183.10  209.76      207.30    185.63      157.91
2      05-Mar      181.97  206.67      205.81    183.35      158.63
3      06-Mar      185.77  209.44      208.59    186.12      164.27
4      07-Mar      190.75  215.48      214.71    192.05      167.42
5      08-Mar      185.64  208.92      208.16    185.54      164.84
6      11-Mar      185.15  209.09      207.83    185.41      163.72
7      12-Mar      186.23  209.58      209.41    186.12      165.01
8      13-Mar      183.64  206.99      205.84    183.26      163.23
9      14-Mar      184.62  208.27      206.88    184.23      164.10
10     15-Mar      185.06  207.93      206.60    183.75      166.00
11     18-Mar      185.04  207.23      205.57    182.68      167.70
12     19-Mar      185.28  207.36      205.46    182.80      168.29
13     20-Mar      184.35  206.99      205.09    182.47      166.32
14     21-Mar      186.36  210.12      208.50    184.55      167.08
15     22-Mar      186.15  210.01      209.01    184.19      166.55
16     25-Mar      188.12  212.31      210.70    186.47      168.30
17     26-Mar      190.02  214.45      212.84    188.56      169.82
18     27-Mar      193.26  217.53      215.64    191.36      173.76
19     28-Mar      191.02  215.38      213.64    189.62      170.92
20     29-Mar      191.28  215.96      213.99    189.50      171.34,    Unnamed: 0  Unnamed: 1   Milds  Unnamed: 3  Naturals  Unnamed: 5
0      01-May      217.54  239.92      237.41    215.40      200.33
1      02-May      205.50  229.74      227.22    204.95      185.23
2      03-May      200.93  225.54      223.36    200.22      180.27
3      06-May      197.58  220.13      218.63    195.96      179.19
4      07-May      195.64  221.40      219.90    197.16      171.61
5      08-May      195.98  221.97      220.47    197.53      171.70
6      09-May      198.04  225.11      223.59    200.13      172.31
7      10-May      198.88  224.39      223.93    200.39      174.47
8      13-May      195.13  219.65      219.20    195.75      172.37
9      14-May      198.55  224.29      223.84    200.34      173.68
10     15-May      196.84  222.62      222.16    198.52      172.03
11     16-May      196.49  221.42      220.04    197.63      173.47
12     17-May      204.11  231.07      229.00    206.91      178.19
13     20-May      204.04  231.18      229.11    206.97      177.85
14     21-May      213.59  240.44      238.37    216.32      187.84
15     22-May      218.62  243.58      241.52    219.41      196.27
16     23-May      214.79  239.67      237.98    215.73      192.16
17     24-May      217.97  242.86      241.47    218.70      195.35
18     27-May      216.75  241.74      240.61    218.70      192.83
19     28-May      227.41  253.92      252.80    230.73      200.89
20     29-May      227.09  252.59      251.46    229.51      202.30
21     30-May      230.61  254.58      254.15    233.52      206.38
22     31-May      220.67  242.66      242.23    224.47      197.48,    Unnamed: 0  Unnamed: 1   Milds  Unnamed: 3  Naturals  Unnamed: 5
0      01-Jul      224.77  248.87      245.94    227.53      202.00
1      02-Jul      228.21  251.41      249.08    232.47      204.63
2      03-Jul      225.51  248.18      245.85    228.99      203.10
3      04-Jul      227.04  247.42      246.27    228.97      207.38
4      05-Jul      230.76  251.20      252.03    234.53      208.30
5      08-Jul      237.05  256.91      257.74    240.38      215.48
6      09-Jul      251.68  272.32      272.72    255.03      229.65
7      10-Jul      244.92  265.80      266.18    248.26      222.68
8      11-Jul      247.48  267.45      267.84    250.12      226.68
9      12-Jul      248.36  268.86      267.33    253.29      226.20
10     15-Jul      243.81  262.44      260.91    246.95      224.93
11     16-Jul      244.53  264.00      262.46    248.61      224.06
12     17-Jul      243.73  263.28      261.75    247.66      223.33
13     18-Jul      241.24  261.26      259.73    245.79      219.86
14     19-Jul      241.45  261.02      262.06    241.46      222.89
15     22-Jul      244.13  263.57      264.32    244.21      225.79
16     23-Jul      240.31  259.73      260.49    240.28      222.08
17     24-Jul      232.98  252.50      253.26    233.03      214.60
18     25-Jul      234.02  255.78      255.37    236.00      212.60
19     26-Jul      227.96  251.90      251.50    232.48      202.36
20     29-Jul      227.13  251.90      250.39    232.51      200.68
21     30-Jul      227.35  252.93      250.92    233.30      199.94
22     31-Jul      225.91  251.14      249.13    231.23      199.38,    Unnamed: 0  Unnamed: 1   Milds  Unnamed: 3  Naturals  Unnamed: 5
0      03-Jun      225.09  246.68      246.27    228.42      202.68
1      04-Jun      230.22  253.02      252.88    235.81      204.58
2      05-Jun      231.73  251.54      251.41    234.46      211.29
3      06-Jun      232.95  255.07      253.78    235.96      210.82
4      07-Jun      225.96  248.24      246.58    227.04      205.57
5      10-Jun      223.08  245.30      243.05    223.81      203.39
6      11-Jun      221.71  244.39      242.14    222.63      201.45
7      12-Jun      224.83  248.02      245.77    226.48      203.47
8      13-Jun      226.17  249.60      247.35    228.18      204.27
9      14-Jun      223.86  247.76      246.01    226.50      200.69
10     17-Jun      226.32  251.12      249.03    228.94      202.55
11     18-Jun      224.71  250.12      248.04    228.03      199.78
12     19-Jun      225.70  250.15      248.05    228.07      202.47
13     20-Jun      230.22  254.21      251.39    232.50      207.90
14     21-Jun      225.33  248.58      246.29    226.40      204.42
15     24-Jun      235.69  260.88      257.93    238.34      212.04
16     25-Jun      228.37  253.62      250.66    230.85      204.83
17     26-Jun      224.24  248.72      245.76    225.91      202.10
18     27-Jun      225.70  250.40      247.73    228.65      202.08
19     28-Jun      224.77  250.07      247.61    228.44      199.84]

To continue the project is necessary to make 2 adjustments in the second directory:
- change the date format from " 06-Jun" to '%Y-%m-%d' format and apply this to all files in the "Unnamed: 0" collum which corresponds to date. This will enable a more smooth combination of the 2 dfs once all dates mantain the correct format.

In [9]:
# Test: print the first DataFrame to check if the transformation worked
print(dataframes[5].head())

  Unnamed: 0  Unnamed: 1   Milds  Unnamed: 3  Naturals  Unnamed: 5
0     01-Jul      224.77  248.87      245.94    227.53      202.00
1     02-Jul      228.21  251.41      249.08    232.47      204.63
2     03-Jul      225.51  248.18      245.85    228.99      203.10
3     04-Jul      227.04  247.42      246.27    228.97      207.38
4     05-Jul      230.76  251.20      252.03    234.53      208.30

In [10]:
# Function to transform the 'Unnamed: 0' date column for each DataFrame in the list and reorder columns
def transform_date(dataframes, year):
    month_mapping = {
        'Jan': '01', 'Feb': '02', 'Mar': '03', 'Apr': '04',
        'May': '05', 'Jun': '06', 'Jul': '07', 'Aug': '08',
        'Sep': '09', 'Oct': '10', 'Nov': '11', 'Dec': '12'
    }
    
    # Iterate over each DataFrame in the list
    for i in range(len(dataframes)):
        df = dataframes[i]
        
        # Print the columns to inspect if 'Unnamed: 0' exists or if the name is different
        print(f"Columns in DataFrame {i}: {df.columns}")
        
        # Check if 'Unnamed: 0' exists, otherwise handle the column name differently
        if 'Unnamed: 0' in df.columns:
            # Apply the transformation to the 'Unnamed: 0' column to create full date strings
            df['Date'] = df['Unnamed: 0'].apply(
                lambda x: '-'.join([str(year), month_mapping[x.split('-')[1]], x.split('-')[0]])
            )
            
            # Convert the 'Date' column to datetime format
            df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')
            
            # Drop the original 'Unnamed: 0' column
            df.drop(columns=['Unnamed: 0'], inplace=True)
            
            # Reorder columns to place 'Date' first
            columns = ['Date'] + [col for col in df.columns if col != 'Date']
            dataframes[i] = df[columns]  # Replace the DataFrame with the reordered one
        else:
            print(f"'Unnamed: 0' column not found in DataFrame {i}")
    
    return dataframes

# Apply the function to the list of DataFrames
dataframes = transform_date(dataframes, 2024)

# Test: print the first DataFrame to check if the column reordering worked
print(dataframes[0].head())

Columns in DataFrame 0: Index(['Unnamed: 0', 'Unnamed: 1', 'Milds', 'Unnamed: 3', 'Naturals',
       'Unnamed: 5'],
      dtype='object')
Columns in DataFrame 1: Index(['Unnamed: 0', 'Unnamed: 1', 'Milds', 'Unnamed: 3', 'Naturals',
       'Unnamed: 5'],
      dtype='object')
Columns in DataFrame 2: Index(['Unnamed: 0', 'Unnamed: 1', 'Milds', 'Unnamed: 3', 'Naturals',
       'Unnamed: 5'],
      dtype='object')
Columns in DataFrame 3: Index(['Unnamed: 0', 'Unnamed: 1', 'Milds', 'Unnamed: 3', 'Naturals',
       'Unnamed: 5'],
      dtype='object')
Columns in DataFrame 4: Index(['Unnamed: 0', 'Unnamed: 1', 'Milds', 'Unnamed: 3', 'Naturals',
       'Unnamed: 5'],
      dtype='object')
Columns in DataFrame 5: Index(['Unnamed: 0', 'Unnamed: 1', 'Milds', 'Unnamed: 3', 'Naturals',
       'Unnamed: 5'],
      dtype='object')
Columns in DataFrame 6: Index(['Unnamed: 0', 'Unnamed: 1', 'Milds', 'Unnamed: 3', 'Naturals',
       'Unnamed: 5'],
      dtype='object')
        Date  Unnamed: 1   Milds  Unnamed: 3  Naturals  Unnamed: 5
0 2024-09-02      241.71  265.38      260.21    239.79      224.69
1 2024-09-03      241.20  264.48      259.50    239.13      224.54
2 2024-09-04      245.35  266.69      260.63    241.03      233.05
3 2024-09-05      249.73  269.06      268.61    247.93      233.82
4 2024-09-06      243.88  262.39      261.53    241.58      229.40

## Checking the right date format was saved and adding year/month columns to match main df

In [11]:
# Function to add year and month columns to each DataFrame in the list
def add_year_month_columns(dataframes):
    for i in range(len(dataframes)):
        df = dataframes[i]
        
        # Extract the year and month from the 'Date' column
        df['year'] = df['Date'].dt.year
        df['month'] = df['Date'].dt.month
        
        # Replace the DataFrame in the list with the new columns added
        dataframes[i] = df
        
    return dataframes

# Apply the function to the list of DataFrames
dataframes = add_year_month_columns(dataframes)

# checking if transformation worked in the dataframes list:
dataframes[0].head()

,Date,Unnamed: 1,Milds,Unnamed: 3,Naturals,Unnamed: 5,year,month
0,2024-09-02,241.71,265.38,260.21,239.79,224.69,2024,9
1,2024-09-03,241.20,264.48,259.50,239.13,224.54,2024,9
2,2024-09-04,245.35,266.69,260.63,241.03,233.05,2024,9
3,2024-09-05,249.73,269.06,268.61,247.93,233.82,2024,9
4,2024-09-06,243.88,262.39,261.53,241.58,229.40,2024,9

In [19]:
# Define the list of DataFrames in the desired order
dfs_in_order = [dataframes[3],dataframes[2],dataframes[4],dataframes[6],dataframes[5],dataframes[1],dataframes[0]]

# Concatenate the DataFrames
merged_df = pd.concat(dfs_in_order,ignore_index=True)

# Display the merged DataFrame
merged_df

,Date,Unnamed: 1,Milds,Unnamed: 3,Naturals,Unnamed: 5,year,month
0,2024-03-01,181.39,206.30,204.99,183.44,157.54,2024,3
1,2024-03-04,183.10,209.76,207.30,185.63,157.91,2024,3
2,2024-03-05,181.97,206.67,205.81,183.35,158.63,2024,3
3,2024-03-06,185.77,209.44,208.59,186.12,164.27,2024,3
4,2024-03-07,190.75,215.48,214.71,192.05,167.42,2024,3
...,...,...,...,...,...,...,...,...
147,2024-09-24,269.83,289.78,291.26,267.94,252.30,2024,9
148,2024-09-25,270.09,291.55,293.03,270.32,249.36,2024,9
149,2024-09-26,272.70,296.96,296.29,274.52,249.30,2024,9
150,2024-09-27,268.97,292.23,291.25,269.86,247.45,2024,9
151,2024-09-30,270.37,294.02,292.80,271.99,248.00,2024,9

In [24]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        152 non-null    datetime64[ns]
 1   Unnamed: 1  152 non-null    float64
 2   Milds       152 non-null    float64
 3   Unnamed: 3  152 non-null    float64
 4   Naturals    152 non-null    float64
 5   Unnamed: 5  152 non-null    float64
 6   year        152 non-null    int64
 7   month       152 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(2)
memory usage: 9.6 KB

# 2. Data preparation/EDA

# 3. Modelling