## MSc Data Analytics - Capstone Project 

## Predictive Insights in the Coffee Market: Time Series Models for forecasting of coffee in the commodity stock market

Student id: 2020274 Clarissa Cardoso



This notebook will serve as an experiementation space for using different timeseries models to forecast the prices of coffee in the commodity stock market. The project will use the ICO Composite Indicator Price (I-CIP) of coffee beans available for free in ICO's website under the Public Market Information feature. The ICO Composite Indicator Price serves as a crucial benchmark for understanding the overall trends and movements in the global coffee market, making accurate forecasting essential for stakeholders across the coffee industry.


#### Objectives:

- Building and evaluating time series forecasting models to predict future I-CIP values.
- Assessing the effectiveness and accuracy of different modeling techniques in capturing the dynamics of the coffee market.

#### Methodology:


- Data Collection: gather historical I-CIP data from reliable sources, (spanning multiple years to capture a comprehensive view of market trends. but at least 1 year of data) 
-Data Preprocessing: clean and preprocess the data, handling missing values, outliers, and ensuring consistency for modeling purposes.
- Exploratory Data Analysis (EDA): conduct exploratory analysis to gain insights into the underlying patterns, seasonality, and trends present in the I-CIP data.
- Model Development: build and train various time series forecasting models, including traditional statistical models (e.g., ARIMA) and machine learning algorithms (e.g., LSTM neural networks).
- Model Evaluation: We will evaluate the performance of each model using appropriate metrics, such as mean absolute error (MAE) and root mean squared error (RMSE), to determine their predictive accuracy.
- Forecasting: We will generate forecasts for future I-CIP values using the best-performing model(s) and visualize the results to facilitate interpretation and decision-making.


<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>






       
         considering the I-CIP values are a weighted average of 4 main types of beans commercialised(Colombian Milds,  Other Milds,  Brazilian Naturals, Robustas), how would the diffenret weights present during the eda, and how they could affect the final icip values?

#### Importing required libraries for the project

In [1]:
#importing libraries
import warnings
warnings.filterwarnings("ignore")

import pandas as pd #dataframes 
import numpy as np #linear algebra
import seaborn as sns #visualization
sns.set(color_codes=True)

import scipy.stats as stats #statistical resources

import matplotlib.pyplot as plt #visualisation 
%matplotlib inline 
import matplotlib.pyplot as plt

from matplotlib import colors
from matplotlib.ticker import PercentFormatter

In [2]:
import os
# Listing all the files in the folder
os.listdir("icip_2023") 

## folder contains the free data available in ICO's website, contains data from Feb/23 to Feb/24

['I-CIP_August_2023.csv',
 'I-CIP_September_2023.csv',
 '.DS_Store',
 'I-CIP_April_2023.csv',
 'I-CIP_March_2023.csv',
 'I-CIP_November_2023.csv',
 'I-CIP_Febuary_2024.csv',
 'I-CIP_January_2024.csv',
 'I-CIP_Febuary_2023.csv',
 'I-CIP_October_2023.csv',
 'I-CIP_June_2023.csv',
 'I-CIP_July_2023.csv',
 'I-CIP_December_2023.csv',
 'I-CIP_May_2023.csv']

Files are not in cronological orders, will affect the loop for calling the separate csv's, and cant import them  at the same time to concat them in one single dataframe?

this means the position of each file in the list is as: 

- 'I-CIP_August_2023.csv', [0]
- 'I-CIP_September_2023.csv',[1]
- '.DS_Store',
- 'I-CIP_April_2023.csv',[2]
- 'I-CIP_March_2023.csv',[3]
- 'I-CIP_November_2023.csv',[4]
- 'I-CIP_Febuary_2024.csv',[5] 
 

....

In [3]:
#create for loop to import csv files from the folder with less comands.

# create an empty list to store dfs
dataframes = []

# path to folder where csv files are (in this case same directory)
folder_path = "icip_2023"

for file in os.listdir(folder_path):
    if file.endswith(".csv"): #consider only csv files, ignore .DS_Store
        file_path = os.path.join(folder_path, file) #  Construct the full file path
        dataframes.append(pd.read_csv(file_path)) # Read the CSV file and append it to the list

In [4]:
#check the lenght of the directory, how many files exist in the folder
len(dataframes)

13

In [5]:
#check if order of files correspond with the directory list, testing if loop is working
dataframes[9].head()

  Unnamed: 0 Unnamed: 1 Colombian   Unnamed: 3 Brazilian Unnamed: 5
0        NaN      I-CIP       NaN  Other Milds       NaN   Robustas
1        NaN        NaN     Milds          NaN  Naturals        NaN
2     01-Jun     173.56    220.40       215.27    181.78     126.54
3     02-Jun     175.62    222.41       216.73    181.98     130.57
4     05-Jun     173.15    219.54       213.37    180.94     127.53

In [6]:
#define a variable name for each dataset to facilitate data manipulation

feb24= dataframes[5]

In [7]:
#cheack first 5 rows of last dataset in the file corresponds to the most recent values from feb24

feb24.info()
print(feb24.shape)
print(feb24.isnull().sum())
feb24.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  21 non-null     object
 1   Unnamed: 1  22 non-null     object
 2   Colombian   22 non-null     object
 3   Unnamed: 3  22 non-null     object
 4   Brazilian   22 non-null     object
 5   Unnamed: 5  22 non-null     object
dtypes: object(6)
memory usage: 1.2+ KB
(23, 6)
Unnamed: 0    2
Unnamed: 1    1
Colombian     1
Unnamed: 3    1
Brazilian     1
Unnamed: 5    1
dtype: int64

  Unnamed: 0 Unnamed: 1 Colombian   Unnamed: 3 Brazilian Unnamed: 5
0        NaN      I-CIP       NaN  Other Milds       NaN   Robustas
1        NaN        NaN     Milds          NaN  Naturals        NaN
2     01-Feb     185.24    213.15       212.01    190.15     156.09
3     02-Feb     183.69    212.32       212.94    188.41     153.01
4     05-Feb     180.93    210.11       209.12    185.69     150.65

importing a random dataset to see how the columsn are presented: a messy header and real data starts fromm third row.
First thing to adjust: collumn names and remove NaN values from second row.
- from the basic info function we can see the dates are not in correct format (need to convert to DD-MM-AAAA instead of 01-Feb) and all the values are not in int/float format, they are objects.

I want to combine bthe data from all csv files into a single dataframe for data manipulation but when importing them as panda df, need to make other adjustments - glob?? (https://stackabuse.com/bytes/importing-multiple-csv-files-into-a-single-dataframe-using-pandas-in-python/)

Common Errors as stated by Saturn Cloud (https://saturncloud.io/blog/loading-multiple-csv-files-from-a-folder-into-one-dataframe-a-comprehensive-guide/#1) 

    Incorrect file path: Not setting the working directory correctly or providing an invalid path to the folder containing the CSV files.

    Column mismatch: Assuming all files have the same column names and order. This can lead to errors when merging DataFrames with different structures.

In [8]:

        
### # Concatenate all DataFrames into a single DataFrame and remove null values
###merged_df = pd.concat(dataframes, ignore_index=True, dropna=True) could not include dropna in the same line because 
## concat function doesnt alow this method


# Concatenate all DataFrames into a single DataFrame
merged_df = pd.concat(dataframes, ignore_index=True)

# Remove null values from the concatenated DataFrame
#merged_df.dropna(inplace=True) this function removed all values, leaving an emppty df. 

# Display the merged DataFrame
print(merged_df)

    Unnamed: 0 Unnamed: 1 Colombian   Unnamed: 3 Brazilian Unnamed: 5  \
0          NaN      I-CIP       NaN  Other Milds       NaN   Robustas
1          NaN        NaN     Milds          NaN  Naturals        NaN
2       01-Aug     161.70    196.62       197.67    164.03     127.08
3       02-Aug     163.62    198.66       199.72    166.00     128.82
4       03-Aug     161.68    196.28       197.32    163.52     127.77
..         ...        ...       ...          ...       ...        ...
300     25-May        NaN    222.17       217.37    182.38     123.94
301     26-May        NaN    220.39       215.81    180.94     123.98
302     29-May        NaN    220.52       215.05    181.73     124.68
303     30-May        NaN    215.91       210.53    177.23     124.47
304     31-May        NaN    216.84       211.48    178.19     124.45

    ICO Composite
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
..            ...
300        173.46
301        172.49
302        172.84
303        169.87
304        170.47

[305 rows x 7 columns]

setting dropna=True, any rows with null values will be removed from the concatenated DataFrame. However this function caused an empty dataframe? Also, the files are still not in cronological order, so need to find a way to import them in the correct order. When we remove the dropna function from the merged_df, at the same time the values get misplaced into a new column, which is also not adequate for manipulation.

In [9]:
merged_df.head()

,Unnamed: 0,Unnamed: 1,Colombian,Unnamed: 3,Brazilian,Unnamed: 5,ICO Composite
0,NaN,I-CIP,NaN,Other Milds,NaN,Robustas,NaN
1,NaN,NaN,Milds,NaN,Naturals,NaN,NaN
2,01-Aug,161.70,196.62,197.67,164.03,127.08,NaN
3,02-Aug,163.62,198.66,199.72,166.00,128.82,NaN
4,03-Aug,161.68,196.28,197.32,163.52,127.77,NaN

In [10]:
merged_df.tail()

,Unnamed: 0,Unnamed: 1,Colombian,Unnamed: 3,Brazilian,Unnamed: 5,ICO Composite
300,25-May,NaN,222.17,217.37,182.38,123.94,173.46
301,26-May,NaN,220.39,215.81,180.94,123.98,172.49
302,29-May,NaN,220.52,215.05,181.73,124.68,172.84
303,30-May,NaN,215.91,210.53,177.23,124.47,169.87
304,31-May,NaN,216.84,211.48,178.19,124.45,170.47

Before continuing, ill try to first rename the columns and remove the NaN values in each dataframe separately, to ensure all dfs will be in the same shape to facilitate concatenation, also might be easier to import them in the correct order once this is done?

In [11]:
# Define a list of new column names
new_column_names = {'Unnamed: 0': 'date', 
                    'Unnamed: 1': 'I-CIP', 'Colombian':'colombian_milds', 
                    'Unnamed: 3':'other_milds', 'Brazilian':'brazilian_nat', 'Unnamed: 5':'robustas'}


# Apply changes to each DataFrame separately
for df in dataframes:
    # Rename columns
    df.rename(columns=new_column_names, inplace=True)
    
    # Remove NaN values
  #  df.dropna(inplace=True) this one makes all dataframes empty again.

In [12]:
print(len(dataframes)) #check is list is not empty anymore

13

In [13]:
## can see the changes were applied and that also all dfs follow the same pattern of having NaN values on the 
## first 2 rows, so i can either perfom a similar loop to drop these rows and merge them in the correct order?
print(dataframes[1].head())
print(dataframes[2].head())
print(dataframes[4].head())
print(dataframes[8].head())
print(dataframes[6].head())
print(dataframes[3].head())
print(dataframes[10].head())

     date   I-CIP colombian_milds  other_milds brazilian_nat  robustas
0     NaN   I-CIP             NaN  Other Milds           NaN  Robustas
1     NaN     NaN           Milds          NaN      Naturals       NaN
2  01-Sep  152.36          184.05       183.14        151.88    124.26
3  04-Sep  152.01          183.75       182.60        151.43    124.09
4  05-Sep  153.02          185.15       184.01        152.88    124.34
     date      ICO Composite colombian_milds  other_milds brazilian_nat  \
0     NaN                NaN             NaN  Other Milds           NaN
1     NaN  Indicator (I-CIP)           Milds          NaN      Naturals
2  03-Apr             168.87          222.30       219.78        183.11
3  04-Apr             168.14          220.82       218.29        181.52
4  05-Apr             172.44          225.91       223.38        186.70

   robustas
0  Robustas
1       NaN
2    109.10
3    109.80
4    112.63
     date   I-CIP colombian_milds  other_milds brazilian_nat  robustas
0     NaN   I-CIP             NaN  Other Milds           NaN  Robustas
1     NaN     NaN           Milds          NaN      Naturals       NaN
2  01-Nov  153.32          187.15       186.58        158.95    117.80
3  02-Nov  155.03          190.74       190.54        161.85    116.54
4  03-Nov  158.78          195.65       195.36        166.62    118.39
     date   I-CIP colombian_milds  other_milds brazilian_nat  robustas
0     NaN   I-CIP             NaN  Other Milds           NaN  Robustas
1     NaN     NaN           Milds          NaN      Naturals       NaN
2  02-Oct  149.79          181.92       180.08        150.53    120.77
3  03-Oct  149.70          182.18       181.70        151.47    118.69
4  04-Oct  147.74          179.76       179.29        148.98    117.60
     date   I-CIP colombian_milds  other_milds brazilian_nat  robustas
0     NaN   I-CIP             NaN  Other Milds           NaN  Robustas
1     NaN     NaN           Milds          NaN      Naturals       NaN
2  02-Jan  173.95          208.89       201.15        183.73    138.03
3  03-Jan  171.08          205.50       197.88        180.48    135.88
4  04-Jan  171.33          204.94       197.38        179.98    137.48
     date      ICO Composite colombian_milds  other_milds brazilian_nat  \
0     NaN                NaN             NaN  Other Milds           NaN
1     NaN  Indicator (I-CIP)           Milds          NaN      Naturals
2  01-Mar             175.93          234.63       230.69        195.40
3  02-Mar             175.08          232.62       229.73        193.63
4  03-Mar             172.26          228.55       225.58        189.86

   robustas
0  Robustas
1       NaN
2    107.65
3    108.05
4    107.25
     date   I-CIP colombian_milds  other_milds brazilian_nat  robustas
0     NaN   I-CIP             NaN  Other Milds           NaN  Robustas
1     NaN     NaN           Milds          NaN      Naturals       NaN
2  03-Jul  158.99          191.18       194.33        160.53    126.33
3  04-Jul  157.96          190.30       192.50        159.48    125.71
4  05-Jul  156.73          188.75       190.96        157.96    125.04

In [14]:
# Drop the first two rows in each DataFrame
for df in dataframes:
    df.drop(df.index[:2], inplace=True)

In [15]:
#print test across different months to see changes
print(dataframes[1].head())
print(dataframes[2].head())
print(dataframes[4].head())
print(dataframes[8].head())

     date   I-CIP colombian_milds other_milds brazilian_nat robustas
2  01-Sep  152.36          184.05      183.14        151.88   124.26
3  04-Sep  152.01          183.75      182.60        151.43   124.09
4  05-Sep  153.02          185.15      184.01        152.88   124.34
5  06-Sep  153.39          186.34      185.01        154.83   122.74
6  07-Sep  151.58          181.98      185.21        151.52   121.88
     date ICO Composite colombian_milds other_milds brazilian_nat robustas
2  03-Apr        168.87          222.30      219.78        183.11   109.10
3  04-Apr        168.14          220.82      218.29        181.52   109.80
4  05-Apr        172.44          225.91      223.38        186.70   112.63
5  06-Apr        173.75          228.43      225.90        189.30   111.71
6  07-Apr        173.96          228.72      226.04        189.39   112.03
     date   I-CIP colombian_milds other_milds brazilian_nat robustas
2  01-Nov  153.32          187.15      186.58        158.95   117.80
3  02-Nov  155.03          190.74      190.54        161.85   116.54
4  03-Nov  158.78          195.65      195.36        166.62   118.39
5  06-Nov  160.85          197.74      196.72        169.55   120.13
6  07-Nov  158.56          195.45      193.93        167.43   118.00
     date   I-CIP colombian_milds other_milds brazilian_nat robustas
2  02-Oct  149.79          181.92      180.08        150.53   120.77
3  03-Oct  149.70          182.18      181.70        151.47   118.69
4  04-Oct  147.74          179.76      179.29        148.98   117.60
5  05-Oct  146.94          178.82      178.34        148.08   117.02
6  06-Oct  146.31          178.96      178.06        147.66   115.76

In [16]:
#define a variable name for each dataset to facilitate data manipulation
# but now for each month, give them a variable so i can concat them in the correct order
# might be a but extra work but the lambda function didnt work even after renaming the original files and adding '_'
# also the natsorted library was not enabled in my machine
feb24= dataframes[5]
jan24=dataframes[6]
dec23=dataframes[11]
nov23=dataframes[4]
oct23=dataframes[8]
sep23=dataframes[1]
aug23=dataframes[0]
jul23=dataframes[10]
jun23=dataframes[9]
may23=dataframes[12]
apr23=dataframes[2]
mar23=dataframes[3]
feb23=dataframes[7]

In [17]:
print(dataframes)

[      date   I-CIP colombian_milds other_milds brazilian_nat robustas
2   01-Aug  161.70          196.62      197.67        164.03   127.08
3   02-Aug  163.62          198.66      199.72        166.00   128.82
4   03-Aug  161.68          196.28      197.32        163.52   127.77
5   04-Aug  158.15          192.33      192.15        159.20   126.01
6   07-Aug  160.76          194.43      194.65        161.75   128.91
7   08-Aug  160.03          192.70      193.63        160.61   129.03
8   09-Aug  158.62          191.14      191.37        158.39   128.88
9   10-Aug  158.26          191.29      191.28        158.61   127.69
10  11-Aug  155.96          188.35      187.47        155.31   127.33
11  14-Aug  151.31          183.40      182.46        149.96   123.60
12  15-Aug  150.92          182.53      181.59        149.34   123.86
13  16-Aug  149.07          181.45      180.49        147.98   120.90
14  17-Aug  149.34          181.10      179.23        148.87   121.72
15  18-Aug  149.68          182.11      180.25        150.84   120.04
16  21-Aug  149.24          182.32      180.89        148.95   120.00
17  22-Aug  148.79          181.47      180.03        148.03   120.34
18  23-Aug  151.67          185.26      183.83        151.92   121.49
19  24-Aug  152.10          185.63      184.19        152.31   122.02
20  25-Aug  152.00          184.84      183.00        151.94   123.02
21  28-Aug  151.74          184.64      182.71        151.07   123.29
22  29-Aug  151.91          184.32      182.39        151.38   123.77
23  30-Aug  154.29          186.68      184.75        153.84   126.12
24  31-Aug  153.30          186.06      183.78        153.34   124.55,       date   I-CIP colombian_milds other_milds brazilian_nat robustas
2   01-Sep  152.36          184.05      183.14        151.88   124.26
3   04-Sep  152.01          183.75      182.60        151.43   124.09
4   05-Sep  153.02          185.15      184.01        152.88   124.34
5   06-Sep  153.39          186.34      185.01        154.83   122.74
6   07-Sep  151.58          181.98      185.21        151.52   121.88
7   08-Sep  152.04          181.26      185.59        152.47   122.36
8   11-Sep  153.74          185.04      189.44        152.93   123.18
9   12-Sep  150.94          184.28      183.25        152.22   119.88
10  13-Sep  152.74          184.26      183.24        152.21   124.90
11  14-Sep  154.44          186.05      184.66        155.03   125.78
12  15-Sep  158.24          190.93      189.22        159.70   128.01
13  18-Sep  158.65          191.43      189.45        159.55   128.98
14  19-Sep  160.17          193.12      190.07        164.20   128.28
15  20-Sep  158.22          190.64      187.59        161.94   127.07
16  21-Sep  155.82          188.14      185.01        159.29   125.03
17  22-Sep  153.36          184.41      181.06        155.44   125.06
18  25-Sep  150.18          180.90      177.36        150.13   124.14
19  26-Sep  150.00          182.87      179.33        152.12   120.09
20  27-Sep  148.99          181.29      177.75        150.58   120.06
21  28-Sep  148.06          179.54      175.90        148.74   120.76
22  29-Sep  147.86          179.10      174.97        148.86   120.76,       date ICO Composite colombian_milds other_milds brazilian_nat robustas
2   03-Apr        168.87          222.30      219.78        183.11   109.10
3   04-Apr        168.14          220.82      218.29        181.52   109.80
4   05-Apr        172.44          225.91      223.38        186.70   112.63
5   06-Apr        173.75          228.43      225.90        189.30   111.71
6   07-Apr        173.96          228.72      226.04        189.39   112.03
7   10-Apr        173.40          227.43      222.16        190.05   112.60
8   11-Apr        179.29          235.03      229.75        197.69   115.44
9   12-Apr        179.00          234.75      229.47        197.15   115.34
10  13-Apr        183.83          240.61      235.34        203.28   118.10
11  14-Apr        180.36          237.82      231.78        198.06   115.97
12  17-Apr        185.15          244.82      238.76        204.94   116.94
13  18-Apr        187.29          249.04      242.71        207.45   117.02
14  19-Apr        185.76          246.40      240.08        204.95   117.34
15  20-Apr        181.56          238.76      233.44        199.24   117.00
16  21-Apr        179.72          236.74      229.90        196.29   117.18
17  24-Apr        182.56          238.97      231.42        199.34   120.80
18  25-Apr        179.09          234.11      227.05        194.06   119.88
19  26-Apr        180.06          236.41      229.34        195.77   118.99
20  27-Apr        181.22          239.16      233.03        197.51   117.65
21  28-Apr        176.00          230.89      223.51        189.33   118.50,       date ICO Composite colombian_milds other_milds brazilian_nat robustas
2   01-Mar        175.93          234.63      230.69        195.40   107.65
3   02-Mar        175.08          232.62      229.73        193.63   108.05
4   03-Mar        172.26          228.55      225.58        189.86   107.25
5   06-Mar        173.04          228.40      229.01        190.63   106.78
6   07-Mar        174.83          232.32      228.06        195.15   107.13
7   08-Mar        171.66          227.12      222.86        189.90   107.59
8   09-Mar        170.11          224.55      220.75        187.12   107.78
9   10-Mar        171.96          227.72      223.46        190.66   107.24
10  13-Mar        171.67          228.93      224.33        190.82   105.38
11  14-Mar        167.97          223.86      220.89        185.08   103.73
12  15-Mar        166.16          220.97      219.35        182.30   102.96
13  16-Mar        171.76          228.32      226.25        190.18   105.26
14  17-Mar        168.56          224.74      221.82        186.67   103.17
15  20-Mar        169.55          226.27      224.07        187.20   103.65
16  21-Mar        171.41          227.74      226.09        188.54   105.97
17  22-Mar        169.11          224.45      222.25        185.80   105.28
18  23-Mar        167.31          221.34      219.14        182.64   105.86
19  24-Mar        171.17          225.63      222.88        187.42   108.85
20  27-Mar        169.80          223.03      220.86        184.35   109.74
21  28-Mar        166.69          219.80      216.67        182.12   106.56
22  29-Mar        164.36          216.02      212.89        178.45   106.69
23  30-Mar        164.99          216.34      212.69        178.79   108.16
24  31-Mar        165.37          216.93      213.87        178.63   108.48,       date   I-CIP colombian_milds other_milds brazilian_nat robustas
2   01-Nov  153.32          187.15      186.58        158.95   117.80
3   02-Nov  155.03          190.74      190.54        161.85   116.54
4   03-Nov  158.78          195.65      195.36        166.62   118.39
5   06-Nov  160.85          197.74      196.72        169.55   120.13
6   07-Nov  158.56          195.45      193.93        167.43   118.00
7   08-Nov  160.75          197.96      196.44        169.96   119.59
8   09-Nov  163.10          199.49      200.62        172.37   121.09
9   10-Nov  160.07          194.85      196.07        168.56   120.18
10  13-Nov  163.10          197.45      198.68        171.20   123.91
11  14-Nov  162.65          195.76      199.56        170.99   122.89
12  15-Nov  166.38          199.44      203.23        174.72   126.67
13  16-Nov  164.19          195.73      199.71        170.75   127.30
14  17-Nov  160.39          192.26      194.30        166.19   124.98
15  20-Nov  162.99          197.01      198.90        170.21   124.48
16  21-Nov  161.01          194.52      196.41        167.83   123.33
17  22-Nov  161.77          194.84      196.75        168.15   124.86
18  23-Nov  161.52          194.95      196.85        168.30   123.94
19  24-Nov  161.73          193.27      195.32        167.51   126.65
20  27-Nov  160.85          193.54      195.59        167.98   123.55
21  28-Nov  163.41          197.53      199.58        171.88   123.64
22  29-Nov  163.15          197.27      199.33        171.72   123.30
23  30-Nov  169.99          206.20      207.56        180.84   126.65,       date   I-CIP colombian_milds other_milds brazilian_nat robustas
2   01-Feb  185.24          213.15      212.01        190.15   156.09
3   02-Feb  183.69          212.32      212.94        188.41   153.01
4   05-Feb  180.93          210.11      209.12        185.69   150.65
5   06-Feb  180.65          208.72      207.73        184.41   152.25
6   07-Feb  182.67          210.75      210.53        187.07   153.27
7   08-Feb  181.62          209.01      208.65        185.68   153.22
8   09-Feb  187.07          214.58      215.14        191.21   157.98
9   12-Feb  186.76          214.42      214.67        191.90   156.83
10  13-Feb  184.47          211.53      211.79        188.97   155.65
11  14-Feb  179.87          206.31      206.57        183.73   152.16
12  15-Feb  181.84          208.63      208.90        186.19   153.38
13  16-Feb  183.01          210.82      210.13        187.06   154.43
14  19-Feb  183.39          210.72      209.88        186.88   155.84
15  20-Feb  182.73          210.52      209.69        186.90   154.16
16  21-Feb  184.10          211.97      211.14        188.16   155.55
17  22-Feb  180.02          207.20      206.37        183.38   152.69
18  23-Feb  177.80          204.48      202.46        183.74   149.40
19  26-Feb  177.48          204.12      202.11        183.48   149.08
20  27-Feb  180.23          207.11      205.10        186.34   151.51
21  28-Feb  179.12          206.01      204.00        185.39   150.23
22  29-Feb  180.11          207.67      205.52        186.73   150.40,       date   I-CIP colombian_milds other_milds brazilian_nat robustas
2   02-Jan  173.95          208.89      201.15        183.73   138.03
3   03-Jan  171.08          205.50      197.88        180.48   135.88
4   04-Jan  171.33          204.94      197.38        179.98   137.48
5   05-Jan  173.51          205.05      204.73        180.40   138.84
6   08-Jan  173.84          203.56      203.25        178.94   142.38
7   09-Jan  174.82          205.16      204.10        178.79   144.22
8   10-Jan  173.12          202.19      201.12        175.94   144.66
9   11-Jan  173.57          203.32      202.24        176.42   144.46
10  12-Jan  171.94          200.72      199.54        173.97   144.49
11  15-Jan  171.54          200.46      198.34        171.42   146.37
12  16-Jan  173.83          203.76      201.63        173.87   147.61
13  17-Jan  173.16          198.96      196.83        169.91   153.56
14  18-Jan  172.37          199.91      197.80        170.84   149.66
15  19-Jan  176.29          204.72      202.60        175.74   151.94
16  22-Jan  179.20          209.12      206.98        179.28   152.96
17  23-Jan  180.39          209.52      207.39        180.52   154.82
18  24-Jan  180.51          208.94      206.81        179.94   156.19
19  25-Jan  181.17          205.30      203.66        182.59   158.78
20  26-Jan  183.39          210.83      209.93        188.33   154.50
21  29-Jan  181.43          207.61      206.71        184.99   154.88
22  30-Jan  184.94          212.12      210.83        188.99   157.30
23  31-Jan  185.54          213.00      211.71        190.01   157.28,       date ICO Composite colombian_milds other_milds brazilian_nat robustas
2   01-Feb        171.43          235.92      223.22        191.65   102.31
3   02-Feb        172.50          237.34      226.26        192.86   102.00
4   03-Feb        169.47          232.24      221.86        188.61   101.52
5   06-Feb        171.29          235.17      224.80        190.77   102.02
6   07-Feb        172.14          235.65      226.72        191.92   102.10
7   08-Feb        171.23          234.06      225.13        190.38   102.35
8   09-Feb        169.89          232.17      223.54        188.61   101.71
9   10-Feb        170.31          233.38      223.14        189.73   101.76
10  13-Feb        171.50          235.34      224.91        191.24   102.06
11  14-Feb        175.86          241.56      231.13        197.28   103.26
12  15-Feb        171.73          235.53      225.11        191.36   102.43
13  16-Feb        173.91          238.50      228.08        194.25   103.26
14  17-Feb        177.59          242.86      233.37        199.53   104.40
15  20-Feb        177.67          241.26      235.07        198.15   105.35
16  21-Feb        180.49          245.25      239.04        202.09   106.15
17  22-Feb        183.85          248.76      242.56        205.62   109.23
18  23-Feb        180.91          245.20      238.99        202.07   107.37
19  24-Feb        178.96          242.39      234.37        200.55   106.89
20  27-Feb        177.25          237.56      233.63        198.41   106.04
21  28-Feb        177.42          237.60      233.67        198.53   106.38,       date   I-CIP colombian_milds other_milds brazilian_nat robustas
2   02-Oct  149.79          181.92      180.08        150.53   120.77
3   03-Oct  149.70          182.18      181.70        151.47   118.69
4   04-Oct  147.74          179.76      179.29        148.98   117.60
5   05-Oct  146.94          178.82      178.34        148.08   117.02
6   06-Oct  146.31          178.96      178.06        147.66   115.76
7   09-Oct  145.99          179.19      178.28        147.83   114.50
8   10-Oct  146.56          180.19      178.44        149.11   114.57
9   11-Oct  146.67          180.45      178.70        149.44   114.34
10  12-Oct  148.04          181.33      180.36        151.56   115.05
11  13-Oct  151.63          186.34      185.38        156.54   116.13
12  16-Oct  151.27          185.47      183.02        156.40   116.94
13  17-Oct  152.31          186.54      184.52        157.77   117.42
14  18-Oct  153.43          187.69      185.68        159.03   118.36
15  19-Oct  156.83          191.64      189.46        162.79   121.06
16  20-Oct  158.06          193.94      189.24        162.09   124.44
17  23-Oct  159.06          194.47      189.78        162.58   126.30
18  24-Oct  160.09          196.75      192.05        164.88   125.10
19  25-Oct  156.33          191.59      186.89        159.61   123.92
20  26-Oct  155.16          190.00      186.25        159.03   122.09
21  27-Oct  152.80          186.82      185.25        156.92   118.98
22  30-Oct  151.53          185.44      184.85        156.36   116.63
23  31-Oct  156.42          191.91      191.31        162.85   118.70,       date   I-CIP colombian_milds other_milds brazilian_nat robustas
2   01-Jun  173.56          220.40      215.27        181.78   126.54
3   02-Jun  175.62          222.41      216.73        181.98   130.57
4   05-Jun  173.15          219.54      213.37        180.94   127.53
5   06-Jun  173.15          219.16      213.00        180.76   128.02
6   07-Jun  175.07          220.99      214.83        182.43   130.23
7   08-Jun  182.04          229.28      223.64        190.98   134.34
8   09-Jun  179.50          225.81      220.00        187.74   133.33
9   12-Jun  173.84          221.41      202.86        183.35   132.88
10  13-Jun  172.00          217.97      200.08        180.41   133.04
11  14-Jun  172.69          219.24      200.95        181.55   133.05
12  15-Jun  175.65          222.14      203.95        184.49   136.04
13  16-Jun  175.05          214.62      213.99        179.90   134.96
14  19-Jun  175.87          214.81      214.19        180.23   136.77
15  20-Jun  172.62          210.23      209.61        175.59   135.96
16  21-Jun  169.37          206.24      205.61        171.37   134.21
17  22-Jun  168.54          203.27      203.67        169.93   135.26
18  23-Jun  164.52          197.85      198.71        165.22   132.87
19  26-Jun  165.89          197.36      200.34        166.67   134.64
20  27-Jun  166.90          199.16      202.16        168.49   134.21
21  28-Jun  162.42          194.41      197.43        163.78   130.15
22  29-Jun  161.53          193.48      197.41        163.90   127.90
23  30-Jun  158.47          190.86      194.67        161.12   124.26,       date   I-CIP colombian_milds other_milds brazilian_nat robustas
2   03-Jul  158.99          191.18      194.33        160.53   126.33
3   04-Jul  157.96          190.30      192.50        159.48   125.71
4   05-Jul  156.73          188.75      190.96        157.96   125.04
5   06-Jul  158.40          190.83      194.17        160.35   125.04
6   07-Jul  160.41          191.03      194.12        160.87   130.14
7   10-Jul  158.91          189.78      192.80        159.18   128.62
8   11-Jul  158.38          188.20      192.17        158.66   128.48
9   12-Jul  157.66          187.74      191.70        158.27   127.24
10  13-Jul  157.77          188.56      192.25        158.34   126.91
11  14-Jul  158.78          191.68      192.64        160.18   126.87
12  17-Jul  155.65          185.96      188.74        154.32   127.37
13  18-Jul  155.86          186.61      189.37        154.94   126.86
14  19-Jul  156.37          185.87      188.65        154.20   129.57
15  20-Jul  157.24          188.62      191.39        157.11   126.96
16  21-Jul  160.78          192.70      196.20        160.83   129.43
17  24-Jul  162.40          194.16      196.72        162.19   131.99
18  25-Jul  162.64          194.32      197.83        162.81   131.41
19  26-Jul  161.64          195.44      198.95        163.92   126.65
20  27-Jul  160.86          193.80      197.31        162.25   127.42
21  28-Jul  157.48          190.12      192.76        158.82   124.87
22  31-Jul  161.54          196.63      197.82        164.25   126.34,       date   I-CIP colombian_milds other_milds brazilian_nat robustas
2   01-Dec  169.76          206.59      207.96        181.33   125.25
3   04-Dec  166.36          202.16      202.67        176.13   124.84
4   05-Dec  170.09          205.22      207.59        180.95   127.15
5   06-Dec  163.92          196.87      199.24        172.53   124.92
6   07-Dec  166.00          198.87      201.78        175.25   126.22
7   08-Dec  166.47          202.09      202.12        174.54   126.85
8   11-Dec  172.54          208.28      208.59        183.27   130.37
9   12-Dec  173.43          208.39      207.51        181.93   134.57
10  13-Dec  176.27          211.46      210.57        184.96   137.03
11  14-Dec  178.03          213.57      212.69        187.21   138.06
12  15-Dec  177.64          213.25      210.93        185.90   139.25
13  18-Dec  178.13          213.00      212.24        186.81   139.14
14  19-Dec  186.04          222.92      221.99        196.55   143.72
15  20-Dec  179.29          212.47      212.69        188.00   141.25
16  21-Dec  182.08          215.14      215.35        190.51   144.39
17  22-Dec  179.35          213.48      214.25        189.34   139.01
18  27-Dec  183.23          220.13      219.18        194.22   140.50
19  28-Dec  184.85          219.64      219.27        195.21   144.27
20  29-Dec  176.93          209.82      209.45        185.25   139.82,       date ICO Composite colombian_milds other_milds brazilian_nat robustas
2   01-May        177.95          235.04      229.65        191.36   117.23
3   02-May        175.97          230.40      223.63        188.63   119.11
4   03-May        175.29          229.69      220.54        189.04   118.92
5   04-May        173.83          227.42      218.35        186.84   118.80
6   05-May        176.70          231.73      222.26        190.60   119.81
7   08-May        174.88          228.33      219.66        187.89   119.74
8   09-May        176.98          230.24      222.27        190.38   121.26
9   10-May        177.07          229.77      221.85        189.96   122.27
10  11-May        172.76          225.71      217.79        185.24   118.10

#another issue was identified from the original data here
the first 4 months contain a different column for the icip prices, and the mergeddf added a column with  missing values in place for the 'ghost' feature, it seems to have 2 diffent names even after i renamed the collumns in previuos lines (ICO Composite and I-CIP). So before i merge them toghether in cronolgical order, ill adjust these features. Or could i just merge the dfs without the labels?

In [18]:
# Define the list of DataFrames in the desired order
dfs_in_order = [feb23, mar23, apr23, may23, jun23, jul23, aug23, sep23, oct23, nov23, dec23, jan24, feb24]

# Concatenate the DataFrames
merged_df = pd.concat(dfs_in_order,ignore_index=True)

# Display the merged DataFrame
merged_df

,date,ICO Composite,colombian_milds,other_milds,brazilian_nat,robustas,I-CIP
0,01-Feb,171.43,235.92,223.22,191.65,102.31,NaN
1,02-Feb,172.50,237.34,226.26,192.86,102.00,NaN
2,03-Feb,169.47,232.24,221.86,188.61,101.52,NaN
3,06-Feb,171.29,235.17,224.80,190.77,102.02,NaN
4,07-Feb,172.14,235.65,226.72,191.92,102.10,NaN
...,...,...,...,...,...,...,...
274,23-Feb,NaN,204.48,202.46,183.74,149.40,177.80
275,26-Feb,NaN,204.12,202.11,183.48,149.08,177.48
276,27-Feb,NaN,207.11,205.10,186.34,151.51,180.23
277,28-Feb,NaN,206.01,204.00,185.39,150.23,179.12
278,29-Feb,NaN,207.67,205.52,186.73,150.40,180.11

In [19]:
# Rename columns of the first four DataFrames to match the later DataFrames
feb23.rename(columns={'Unnamed: 0': 'date', 'ICO Composite': 'I-CIP'}, inplace=True)
mar23.rename(columns={'Unnamed: 0': 'date', 'ICO Composite': 'I-CIP'}, inplace=True)
apr23.rename(columns={'Unnamed: 0': 'date', 'ICO Composite': 'I-CIP'}, inplace=True)
may23.rename(columns={'Unnamed: 0': 'date', 'ICO Composite': 'I-CIP'}, inplace=True)

# Concatenate the DataFrames in the desired order
merged_df = pd.concat([feb23, mar23, apr23, may23, jun23, jul23, aug23, sep23, oct23, nov23, dec23, jan24, feb24], ignore_index=True)

# Display the merged DataFrame
print(merged_df)

       date   I-CIP colombian_milds other_milds brazilian_nat robustas
0    01-Feb  171.43          235.92      223.22        191.65   102.31
1    02-Feb  172.50          237.34      226.26        192.86   102.00
2    03-Feb  169.47          232.24      221.86        188.61   101.52
3    06-Feb  171.29          235.17      224.80        190.77   102.02
4    07-Feb  172.14          235.65      226.72        191.92   102.10
..      ...     ...             ...         ...           ...      ...
274  23-Feb  177.80          204.48      202.46        183.74   149.40
275  26-Feb  177.48          204.12      202.11        183.48   149.08
276  27-Feb  180.23          207.11      205.10        186.34   151.51
277  28-Feb  179.12          206.01      204.00        185.39   150.23
278  29-Feb  180.11          207.67      205.52        186.73   150.40

[279 rows x 6 columns]

## EDA

Perfom some basic eda to see how the data is presented after the merge
However, when looking at the .info output, before obtaining any sort of relevant eda i need to make the correct conversions for datatypes that can be used foer forecasting. It was also noted that having the dates as 01-Feb is not at all helpfull, so first need to add the year to facilitate the conversion https://pandas.pydata.org/docs/user_guide/timeseries.html It also does not consider the year of each datapoint.

In [20]:
# Summary Statistics
print(merged_df.info())
merged_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             279 non-null    object
 1   I-CIP            279 non-null    object
 2   colombian_milds  279 non-null    object
 3   other_milds      279 non-null    object
 4   brazilian_nat    279 non-null    object
 5   robustas         279 non-null    object
dtypes: object(6)
memory usage: 13.2+ KB
None

          date   I-CIP colombian_milds other_milds brazilian_nat robustas
count      279     279             279         279           279      279
unique     263     270             274         273           272      267
top     01-Feb  173.84          192.70      212.69        180.94   126.65
freq         2       2               2           3             2        3

In [21]:
# Convert numerical columns to numeric type

#merged_df['date'] = pd.to_datetime(merged_df['date']) 

merged_df['I-CIP'] = pd.to_numeric(merged_df['I-CIP'])
merged_df['colombian_milds'] = pd.to_numeric(merged_df['colombian_milds'])
merged_df['other_milds'] = pd.to_numeric(merged_df['other_milds'])
merged_df['brazilian_nat'] = pd.to_numeric(merged_df['brazilian_nat'])
merged_df['robustas'] = pd.to_numeric(merged_df['robustas'])

# Confirm the data types after conversion
print(merged_df.dtypes)

date                object
I-CIP              float64
colombian_milds    float64
other_milds        float64
brazilian_nat      float64
robustas           float64
dtype: object

In [24]:
merged_df.head(30)

           date   I-CIP  colombian_milds  other_milds  brazilian_nat  robustas
0   01-Feb-2023  171.43           235.92       223.22         191.65    102.31
1   02-Feb-2023  172.50           237.34       226.26         192.86    102.00
2   03-Feb-2023  169.47           232.24       221.86         188.61    101.52
3   06-Feb-2023  171.29           235.17       224.80         190.77    102.02
4   07-Feb-2023  172.14           235.65       226.72         191.92    102.10
5   08-Feb-2023  171.23           234.06       225.13         190.38    102.35
6   09-Feb-2023  169.89           232.17       223.54         188.61    101.71
7   10-Feb-2023  170.31           233.38       223.14         189.73    101.76
8   13-Feb-2023  171.50           235.34       224.91         191.24    102.06
9   14-Feb-2023  175.86           241.56       231.13         197.28    103.26
10  15-Feb-2023  171.73           235.53       225.11         191.36    102.43
11  16-Feb-2023  173.91           238.50       228.08         194.25    103.26
12  17-Feb-2023  177.59           242.86       233.37         199.53    104.40
13  20-Feb-2023  177.67           241.26       235.07         198.15    105.35
14  21-Feb-2023  180.49           245.25       239.04         202.09    106.15
15  22-Feb-2023  183.85           248.76       242.56         205.62    109.23
16  23-Feb-2023  180.91           245.20       238.99         202.07    107.37
17  24-Feb-2023  178.96           242.39       234.37         200.55    106.89
18  27-Feb-2023  177.25           237.56       233.63         198.41    106.04
19  28-Feb-2023  177.42           237.60       233.67         198.53    106.38
20  01-Mar-2023  175.93           234.63       230.69         195.40    107.65
21  02-Mar-2023  175.08           232.62       229.73         193.63    108.05
22  03-Mar-2023  172.26           228.55       225.58         189.86    107.25
23  06-Mar-2023  173.04           228.40       229.01         190.63    106.78
24  07-Mar-2023  174.83           232.32       228.06         195.15    107.13
25  08-Mar-2023  171.66           227.12       222.86         189.90    107.59
26  09-Mar-2023  170.11           224.55       220.75         187.12    107.78
27  10-Mar-2023  171.96           227.72       223.46         190.66    107.24
28  13-Mar-2023  171.67           228.93       224.33         190.82    105.38
29  14-Mar-2023  167.97           223.86       220.89         185.08    103.73

In [25]:
merged_df.tail(30)

,date,I-CIP,colombian_milds,other_milds,brazilian_nat,robustas
249,19-Jan-2024,176.29,204.72,202.60,175.74,151.94
250,22-Jan-2024,179.20,209.12,206.98,179.28,152.96
251,23-Jan-2024,180.39,209.52,207.39,180.52,154.82
252,24-Jan-2024,180.51,208.94,206.81,179.94,156.19
253,25-Jan-2024,181.17,205.30,203.66,182.59,158.78
254,26-Jan-2024,183.39,210.83,209.93,188.33,154.50
255,29-Jan-2024,181.43,207.61,206.71,184.99,154.88
256,30-Jan-2024,184.94,212.12,210.83,188.99,157.30
257,31-Jan-2024,185.54,213.00,211.71,190.01,157.28
258,01-Feb-2023,185.24,213.15,212.01,190.15,156.09
259,02-Feb-2023,183.69,212.32,212.94,188.41,153.01
260,05-Feb-2023,180.93,210.11,209.12,185.69,150.65
261,06-Feb-2023,180.65,208.72,207.73,184.41,152.25
262,07-Feb-2023,182.67,210.75,210.53,187.07,153.27
263,08-Feb-2023,181.62,209.01,208.65,185.68,153.22
264,09-Feb-2023,187.07,214.58,215.14,191.21,157.98
265,12-Feb-2023,186.76,214.42,214.67,191.90,156.83
266,13-Feb-2023,184.47,211.53,211.79,188.97,155.65
267,14-Feb-2023,179.87,206.31,206.57,183.73,152.16
268,15-Feb-2023,181.84,208.63,208.90,186.19,153.38
269,16-Feb-2023,183.01,210.82,210.13,187.06,154.43
270,19-Feb-2023,183.39,210.72,209.88,186.88,155.84
271,20-Feb-2023,182.73,210.52,209.69,186.90,154.16
272,21-Feb-2023,184.10,211.97,211.14,188.16,155.55
273,22-Feb-2023,180.02,207.20,206.37,183.38,152.69
274,23-Feb-2023,177.80,204.48,202.46,183.74,149.40
275,26-Feb-2023,177.48,204.12,202.11,183.48,149.08
276,27-Feb-2023,180.23,207.11,205.10,186.34,151.51
277,28-Feb-2023,179.12,206.01,204.00,185.39,150.23
278,29-Feb-2023,180.11,207.67,205.52,186.73,150.40